			/* SDF SITE CSS */

.content {
	display:flex;
	align-items:center;
	flex-direction:column;
}
section { color:white; background:linear-gradient(45deg, #eb293a 30%, #f79e31 90%)
; margin:0; width:85%; height: 600px;border-radius: 10%; margin-bottom:150px;}
section:nth-child(even) h1 {background:#222;} /*on différencie la couleur 1 section sur 2*/

#mysect1{
	margin-top:150px;
}

@font-face {
	font-family: "KeeponTruckin";
	src: url('KeeponTruckin.ttf');
}

body {
	background-image:url('background.png');
	background-size: contain;
	background-repeat: : repeat;
	background-color: #E2BC74;
	font-family: "KeeponTruckin";
}

.sdf-logo-svg {
	padding:0px 300px;
	margin-top: 50px;
}
.section-displayed {
	display:flex;
	justify-content: center;
	width: 100%;
}

.teaser {
	display:flex;
	justify-content: center;
	text-align: center;
	align-items: center;
  flex-direction: column;
}

.teaser-title {
	color :#76aed9;
	font-size: 64px;
	margin:50px 0px;
	width: 80%;
}
.place {
	padding-top:50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.place-title {
	text-align: center;
	color :#76aed9;
	font-size: 64px;
}
.place-subtitle {
	text-align: center;
	color :black;
	font-size: 42px;
	text-decoration: none;
}

.place-subtitle:visited > a:visited{
	color: black;
}

a {
	text-decoration: none;
}

a:visited{
	color: black;
}

.place-subtitle:hover {
	color:white
}

.place-layout {
	display:flex;
	justify-content: center;
	margin-bottom: 75px;
}

.contact-layout {
	display:flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 75px;
}
.contact-title{
	text-align: center;
	color :#eb293a;
	font-size: 64px;
	margin:50px 0px;
}

.sponsors {
	display:flex;
	justify-content: center;
	text-align: center;
	align-items: center;
  flex-direction: column;
}

.sponsors-title {
	color :#76aed9;
	font-size: 64px;
	margin:50px 0px;
}

.drinks {
	display:flex;
	justify-content: center;
	text-align: center;
	align-items: center;
  flex-direction: column;
}

.beers {
	display:flex;
	width:100%;
	justify-content: space-around;
}

.drinks-title {
	color :#76aed9;
	font-size: 64px;
	margin:50px 0px;
}

.arrondie {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:10%;
}

.arrondie_plus {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:40%;
}

.billetrie {
	border:5px solid black;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:50%;
}

.billetrie:hover {
	border:5px solid green;
	cursor: pointer;
}

.insta-logo-svg{}
/*== V nav ==*/
#op-verticalnav {
	position:fixed;
	top:0;
	right:0;
	left: auto;
	height: 100%;
	display:table
}
#op-verticalnav .op-sectionlist {
	height:100%;
	text-align:center;
	display:table-cell;
	vertical-align:middle
}
#op-verticalnav .op-v-item {
	display:block
}
#op-verticalnav .justify-height {}
#op-verticalnav .op-v-link {
	display:block;
	margin:12px 0
}
#op-verticalnav .v-marker {
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#d0d56d;
	display:inline-block;
	vertical-align:middle;
	margin-bottom:-2px;
	margin-right:10px;
	border: 1px solid #76aed9;
}
#op-verticalnav .op-v-link:hover .v-marker, #op-verticalnav .op-v-item .op-v-link.active .v-marker {
	background-color:#eb293a;
}
#op-verticalnav .op-v-itemdesc {
	display:inline-block;
	font-size:14px;
	position:absolute;
	white-space:nowrap;
	line-height:normal;
	padding:0 34px 0 0;
	vertical-align:middle
}
#op-verticalnav .op-v-itemdesc .op-v-itembg{
	display:inline-block;
	background-color:rgba(0,0,0,.5);
	color:#fff; padding:4px 10px 6px 10px;
	border:1px solid rgba(160,160,160,.2);
	border-radius:4px; }
#op-verticalnav .op-v-link:hover .op-v-itemdesc {
	right:0px;
}

footer {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10%;
	color: #fff;
	height:75px;
	background-color: #d0d56d;
	align-items: center;
	text-align:center;
}

/* CAROUSEL */
